$desktopMin: #{'min-width: 1440px'};
$laptopMax: #{'max-width: 1439px'};
$laptopMin: #{'min-width: 1024px'};
$tabletMax: #{'max-width: 1023px'};
$tabletMax_home: #{'max-width: 1024px'};
$tabletMin: #{'min-width: 768px'};
$tabletMin_checkout: #{'min-width: 426px'};
$tabletMin_home: #{'min-width: 501px'};
$max-1160px_checkout: #{'max-width: 1160px'};
$mobileMax: #{'max-width: 767px'};
$mobileMax_home: #{'max-width: 500px'};
$mobileMax_checkout: #{'max-width: 425px'};